[Unit]
Description=Arista EOS Exporter
After=network-online.target

[Service]
User=prometheus
Restart=on-failure

WorkingDirectory=/etc/arista-eos-exporter/
ExecStart=/usr/bin/python3 /etc/arista-eos-exporter/main.py

[Install]
WantedBy=multi-user.target
